@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('variables.css');
@import url('base.css');

@import url('components/flex-grid.css');
@import url('components/buttons.css');
@import url('components/forms.css');

* {
    margin: 0px;
}

body {
    background-color: var(--c-background)
}


/* header */

.logo {
    width: 260px;
}

header {
    margin-left: 139px;

}

.navigatie {
    margin-left: 139px;
    margin-right: 139px;

}

a.bar {
    background-color: var(--c-secondary);
    text-decoration: none;
    color: var(--c-primary);
    width: 100%;
    font-size: 16pt;
    padding: 10px 100px;
    font-family: var(--f-fancy);
}

a.bar:hover {
    background-color: var(--c-primary);
    color: var(--c-secondary);


}

.achtergrondnav {
    display: inline;

}



/* main */

.kader {
    margin-top: 100px;
    display: flex;
    overflow: hidden;
}

.openingsuren,
.reservatie {
    background-color: var(--c-secondary);


}


.urentekst,
.etenfoto,
.reservatietekst {
    margin-left: 400px;
    padding-right: 50px;
    color: var(--c-primary)
}


h1 {
    font-family: var(--f-normal);
    text-align: center;
    margin-top: 2px;
    font-size: 30pt;
    color: var(--c-primary);


}

table {
    font-family: var(--f-normal);
    font-size: 20pt;



}

td {
    padding: 5px;
}

.tabelrechts {
    text-align: right;
    padding-left: 50px;
}

p {
    font-family: var(--f-normal);
    text-align: center;
    font-size: 28pt;
}

.gaps {
    padding-bottom: 50px;
}


.menu {
    background-color: var(--c-secondary);
    height: 436px;
}

.menutekst {
    color: var(--c-primary);
    position: relative;
    margin-top: 50px;
}




.reservatie .reservatiebtn {
    color: var(--c-secondary)
}

.reservatietekst {
    margin-top: 50px;
    position: absolute;
}


/** footer **/

iframe {
    border: none;
}

.eind {
    margin-top: 100px;
    background-color: var(--c-secondary);
    color: var(--c-primary);
    padding: 20px;


}

p.footertekst {
    text-align: left;
    margin-left: 400px;
    font-size: 24pt;
}

.small {
    font-size: 20pt;
}
